<header>
  <div class='header-container'>
    <a [routerLinkActiveOptions]='{ exact: true }' class='header-name' routerLink='/' routerLinkActive='active'>
      Scully: The Angular Jamstack
    </a>
    <nav>
      <ul>
        <li><a routerLink='/jamstack' routerLinkActive='active'>What Is Jamstack?</a></li>
        <li><a routerLink='/build' routerLinkActive='active'>The Build Process</a></li>
        <li><a routerLink='/demo' routerLinkActive='active'>Demo Time</a></li>
        <li><a routerLink='/closing' routerLinkActive='active'>Closing Remarks</a></li>
      </ul>
    </nav>
  </div>
</header>
