<h1>What is Jamstack?</h1>
<h2>Definition</h2>
<ul class='full-benefit'>
  <app-benefit inputId='what-is-jamstack' description='"Jamstack is an architectural approach that decouples the web experience layer from data and business logic, improving flexibility, scalability, performance, and maintainability." (jamstack.org)'></app-benefit>
</ul>
<h2>Jam?</h2>
<ul class='full-benefit'>
  <app-benefit inputId='jam-j' title='JavaScript' description='JavaScript'></app-benefit>
  <app-benefit inputId='jam-a' title='APIs' description='APIs'></app-benefit>
  <app-benefit inputId='jam-m' title='Markup' description='Markup'></app-benefit>
</ul>
<h2>Benefits of Jamstack</h2>
<ul class='work-card-grid'>
  <app-benefit inputId='security' title='Security' icon='🔒'
               description='Can deploy static assets to a read-only CDN and fewer servers, reducing attack vectors'></app-benefit>
  <app-benefit inputId='scale' title='Scale' icon='⛰'
               description='Assume most things can be cached indefinitely until the next build'></app-benefit>
  <app-benefit inputId='performance' title='Performance' icon='💪'
               description='Almost instant initial page load and wait to do fun JavaScript later'></app-benefit>
  <app-benefit inputId='maintainability' title='Maintainability' icon='🧹'
               description='Deploying pre-generated content to a CDN means there is no need to worry about keeping servers running and up-to-date.'></app-benefit>
  <app-benefit inputId='portability' title='Portability' icon='✈️'
               description='Eliminate infrastructure lock-in and deploy anywhere you want'></app-benefit>
  <app-benefit inputId='visibility' title='Visibility' icon='👀'
               description='More HTML pages means more search engine representation'></app-benefit>
  <app-benefit inputId='developer-experience' title='Developer Experience' icon='👨‍💻'
               description='Feel free to use many kinds of tools and frameworks'></app-benefit>
</ul>
