<h1>What is Scully?</h1>
<h2>Why Jamstack?</h2>
<ul class='work-card-grid'>
  <app-benefit title='Security' icon='🔒'
               description='Can deploy static assets to a read-only CDN and fewer servers, reducing attack vectors'></app-benefit>
  <app-benefit title='Scale' icon='⛰'
               description='Assume most things can be cached indefinitely until the next build'></app-benefit>
  <app-benefit title='Performance' icon='💪'
               description='Almost instant initial page load and wait to do fun JavaScript later'></app-benefit>
  <app-benefit title='Maintainability' icon='🧹'
               description='Deploying pre-generated content to a CDN means there is no need to worry about keeping servers running and up-to-date.'></app-benefit>
  <app-benefit title='Portability' icon='✈️'
               description='Eliminate infrastructure lock-in and deploy anywhere you want'></app-benefit>
  <app-benefit title='Visibility' icon='👀'
               description='More HTML pages means more search engine representation'></app-benefit>
  <app-benefit title='Developer Experience' icon='👨‍💻'
               description='Feel free to use many kinds of tools and frameworks'></app-benefit>
</ul>
