<h1>Scully: The Angular Jamstack Is Out There</h1>
<h2><a routerLink='/about-me'>Chris Stone</a></h2>
<app-slideshow [duration]='10000' [images]='images'></app-slideshow>
<h2>Summary</h2>
<p>A brief overview of <strong>Scully</strong>, an open source library that can help make a Jamstack static site out of
  an Angular application.</p>
<p>This will cover some brief information and a live demonstration of how to add it to a project and use some of its
  features.</p>
<p>This will be particularly helpful for Angular developers interested in the benefits of the Jamstack.</p>
