input {
  display: none;

  &:checked + label {
    background: #339;

    img {
      opacity: 1;
    }
  }
}

label {
  background: #002;
  border-radius: 16px;
  cursor: pointer;
  display: block;
  text-align: center;
  transition: 1s;

  img {
    max-height: 500px;
    opacity: 0;
    transition: 1s;
  }
}
